.git
.github
.idea
.pytest_cache
.ruff_cache
.terraform
.venv
arquivo
data
data_samples
notebooks
!notebooks
!notebooks/primeiro_recorte_discursos.py
**/__pycache__
*.pyc
*.sqlite*
*.tfplan
*.tfstate*
